body {
    // background-color: #84a178;
    font-family: 'Montserrat', sans-serif;
    color: #FCFCFC;
    letter-spacing: 0.04em;
    font-size: 14px;
    background: url(../images/Products/Backgroud_desktop@d2x.jpg) 50%/cover repeat-y fixed;
    
}