.footer {
    background-color: #84A178;
}

.footer-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-btn {
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    min-width: 192px;
    padding: 12px;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;        
   
    align-items: center;
    text-align: center;
    
    color: #131313;
    background-color: #F8D24E;
}
.footer-textup{
    font-weight: 400;
    font-size: 30px;
    line-height: 1.23;       
    
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: #FCFCFC;
}
.footer-textdown{
    font-weight: 700;
    font-size: 58px;
    line-height: 1.22;        
    
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #FCFCFC;
}

.footer-tel-text{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;    
    letter-spacing: 0.02em;
    
    color: #131313;
}

.footer-tel {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.footer-underline {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;        
    
    letter-spacing: 0.02em;
    
    color: #7A7A7A;
}
