<section class="advantages">
  <div class="container">
    <h2 class="adv-title visually-hidden">advantages</h2>
    <ul class="advantages-list list">
      <li class="advantages-item">
        <div class="advantages-list-wrapper">
        <h3 class="advantages-title">721</h3>
        <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
      </li>
      <li class="advantages-item">
        <div class="advantages-list-wrapper">
          <h3 class="advantages-title  title-two">16kg</h3>
          <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
        </li>
        <li class="advantages-item">
          <div class="advantages-list-wrapper">
            <h3 class="advantages-title  title-three">84</h3>
            <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            <div class="advantages-list-wrapper">
          </li>
    </ul>
  </div>
</section>