<section class="contacts-container">
  <div class="contacts-block">
    <div class="contacts-head">cafe</div>
    <div class="contacts-location">
      <p>Chicago</p>
    <a href="https://goo.gl/maps/ojQDJABm51Xfy6Vn9" class=" address-contacts">10340 Ridgeland Ave, Chicago Ridge, IL 60415,
      USA</a>
    </div>
    <div class="contacts-days">
      <div class="contact-days-inner">
        <p>Monday - Friday</p>
        <p class="contacts-hours">06:00 AM - 10:00 PM</p>
      </div>
      <div class="contact-days-inner">
        <p>Saturday - Sunday</p>
        <p class="contacts-hours">08:00 AM - 16:00 PM</p>
      </div>
    </div>
    <div class="contacts-contacts">
      <a class="pnone-contacts"><a href="tel:+610383766284" class="link address-link address-contacts">+61(0) 383 766 284</a>
      <a class="mail-contact"><a href="" class="link address-link address-contacts">noreply@envato.com</a>
    </div>
  </div>
  <div class="contacts-block">
    <div class="contacts-head">food truck</div>
     <div class="contacts-location">
      <p>los angeles</p>
      <a href="https://goo.gl/maps/K4YXivhz48GfCCPq9" class=" address-contacts">1003 Manhattan Ave, Manhattan Beach, CA 90263,
        USA</a>
    </div>
    <div class="contacts-days">
      <div class="contact-days-inner">
        <p>Monday - Friday</p>
        <p class="contacts-hours">06:00 AM - 10:00 PM</p>
      </div>
      <div class="contact-days-inner">
        <p>Saturday - Sunday</p>
        <p class="contacts-hours">08:00 AM - 16:00 PM</p>
      </div>
    </div>
    <div class="contacts-contacts">
      <a class="pnone-contacts"><a href="tel:+610383766284" class="link address-link address-contacts">+61(0) 383 766 284</a>
        <a class="mail-contact"><a href="" class="link address-link address-contacts">noreply@envato.com</a>
    </div>
  </div>
  <div class="contacts-block">
    <div class="contacts-head">cafe</div>
    <div class="contacts-location">
      <p>Chicago</p>
      <a href="https://goo.gl/maps/NA5dksMw4LmdhpDZ7" class=" address-contacts">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
    </div>
    <div class="contacts-days">
      <div class="contact-days-inner">
        <p>Monday - Friday</p>
        <p class="contacts-hours">06:00 AM - 10:00 PM</p>
      </div>
      <div class="contact-days-inner">
        <p>Saturday - Sunday</p>
        <p class="contacts-hours">08:00 AM - 16:00 PM</p>
      </div>
    </div>
    <div class="contacts-contacts">
      <a class="pnone-contacts"><a href="tel:+610383766284" class="link address-link address-contacts">+61(0) 383 766 284</a>
        <a class="mail-contact"><a href="" class="link address-link address-contacts">noreply@envato.com</a>
    </div>
  </div>


</section>
