<section class="gallery">
  <div class="container">
    <div class="image-wrapper-gallery">
      <div class="slaider-gallery">
        <img
          srcset="
            ./images/GALLERY-img/ice_cream1200w/brooke-lark1013.jpg 1013w,
            ./images/GALLERY-img/ice_cream1200w/brooke-lark2026.jpg 2026w,
            ./images/GALLERY-img/ice_cream768w/brooke-lark704.jpg    704w,
            ./images/GALLERY-img/ice_cream768w/brooke-lark1408.jpg  1408w,
            ./images/GALLERY-img/ice_cream320w/brooke-lark280.jpg    280w,
            ./images/GALLERY-img/ice_cream320w/brooke-lark560.jpg    560w
          "
          sizes="(min-width: 1200px) 1013px, 
                           (min-width: 768px) 704px,
                           (min-width: 320px) 280px, 100vw"
          src="./images/GALLERY-img/ice_cream1200w/brooke-lark1013.jpg"
          class="img-gallery"
          alt="user-photo"
        />

        <img
          src="./images/GALLERY-img/foto2.jpg"
          class="img-gallery"
          alt="user-photo"
        />

        <img
          src="./images/GALLERY-img/foto3.jpg"
          class="img-gallery"
          alt="user-photo"
        />
      </div>
    </div>
  </div>
</section>
