<header id="header" class="header">
  <div class="container header-container">
    <svg class="logo" width="60" height="65">
      <use href="./images/sprite.svg#icon-Logo"></use>
    </svg>
    <nav class="navigation">
      <ul class="navigation-list">
        <li class="navigation-item">
          <a class="navigation-link navigation-link-current" href="#header"
            >Home</a
          >
        </li>
        <li class="navigation-item">
          <a class="navigation-link" href="#about">How it’s made?</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link" href="#products">Our products</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>
    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="burger-btn" width="32" height="32">
        <use href="./images/sprite.svg#icon-burger-menu"></use>
      </svg>
    </button>
    <button class="btn-header">
      Buy now
      <svg class="btn-decor" width="12" height="12">
        <use href="./images/sprite.svg#icon-short-arrow"></use>
      </svg>
    </button>
  </div>
</header>
