<header id="header" class="header">
  <div class="container header-container">
    <svg class="logo" width="60" height="65">
      <use href="./images/sprite.svg#icon-Logo"></use>
    </svg>

    <nav class="navigation">
      <ul class="navigation-list">
        <li class="navigation-item">
          <a class="navigation-link" href="#header">Home</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link navigation-link-current" href="#about"
            >How it’s made?</a
          >
        </li>
        <li class="navigation-item">
          <a class="navigation-link" href="#products">Our products</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>
    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="burger-btn" width="32" height="32">
        <use href="./images/sprite.svg#icon-burger-menu"></use>
      </svg>
    </button>
    <button type="button" class="btn-header" data-modal-open>
      Buy now
      <svg class="btn-icon" width="12" height="12">
        <use href="./images/sprite.svg#icon-short-arrow"></use>
      </svg>
    </button>
  </div>
</header>

<!-- menu-modal -->
<div class="menu-container js-menu-container" id="mobile-menu">
  <svg class="logo-modal" width="40" height="37">
    <use href="./images/sprite.svg#icon-Logo"></use>
  </svg>
  <button class="menu-toggle js-close-menu">
    <svg class="close-menu" width="32" height="32">
      <use href="./images/sprite.svg#icon-close"></use>
    </svg>
  </button>

  <ul class="mobile-menu">
    <li class="mobile-item">
      <a href="#header" class="mobile-element">Home</a>
    </li>
    <li class="mobile-item">
      <a href="#about" class="mobile-element mobile-element-current"
        >How it's made</a
      >
    </li>
    <li class="mobile-item">
      <a href="#products" class="mobile-element">Our products</a>
    </li>
    <li class="mobile-item">
      <a href="#contacts" class="mobile-element">Contact</a>
    </li>
  </ul>
  <button type="button" class="btn-modal" data-modal-open>
    Buy now
    <svg class="btn-icon" width="12" height="12">
      <use href="./images/sprite.svg#icon-short-arrow"></use>
    </svg>
  </button>
</div>

<!-- modal-card BuyNow -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal-products">
    <button class="close-btn" type="button" data-modal-close>
      <svg class="close-btn-icon" width="20" height="20">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <form class="form-order">
      <p class="order-title">Buy now</p>
      <ul class="list-products list">
        <li class="product-item">
          <div class="circle-cream"></div>

          <p class="title-product">ICE CREAM</p>
        </li>
        <li class="product-item">
          <div class="circle-coffee"></div>
          <p class="title-product">ICE COFFEE</p>
        </li>
        <li class="product-item">
          <div class="product-thumb">
            <div class="circle-milkshakes"></div>
          </div>

          <p class="title-product">MILKSHAKE</p>
        </li>
      </ul>

      <div class="form-group">
        <label class="form-field">
          <input
            class="form-input"
            type="name"
            name="name"
            pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
            placeholder="Ann Tomson"
            autofocus
            required
          />
          <span class="form-label">Name</span>
        </label>
      </div>
      <div class="form-group">
        <label class="form-field">
          <input
            class="form-input"
            type="tel"
            name="phone_number"
            placeholder="+38(067)3041543"
            pattern="\d{1,5}"
            min-length="12"
            max-length="12"
            required
          />
          <span class="form-label">Phone</span>
        </label>
      </div>
      <div class="form-group">
        <label class="form-message">
          <textarea
            class="form-textarea"
            name="feedback"
            rows="5"
            placeholder="type your text"
          ></textarea>
          <span class="comment-label">Comment</span>
        </label>
      </div>
      <button class="btn-submit" type="button">Submit</button>
    </form>
  </div>
</div>
