<section class="reviews">
  <div class="reviews__container container">
    <div class="reviews__slide">
      <div class="reviews__customer">
        <img
          srcset="
            ./images/reviews/customer-1.jpg     55w,
            ./images/reviews/customer-1@2x.jpg 110w
          "
          alt="customer-1"
          class="reviews__img--customer"
          sizes="(min-width: 480px) 55px, 100vw"
          src="./images/reviews/customer-1.jpg"
        />
        <div class="reviews__box">
          <p class="reviews__text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
        </div>
        <p class="review__text--owner">Emily, Los Angeles</p>
      </div>
      <div class="reviews__customer">
        <img
          srcset="
            ./images/reviews/customer-2.jpg     55w,
            ./images/reviews/customer-2@2x.jpg 110w
          "
          alt="customer-2"
          class="reviews__img--customer"
          sizes="(min-width: 480px) 55px, 100vw"
          src="./images/reviews/customer-2.jpg"
        />
        <div class="reviews__box">
          <p class="reviews__text">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </p>
        </div>
        <p class="review__text--owner">Bryan, New-York</p>
      </div>
      <div class="reviews__customer">
        <img
          srcset="
            ./images/reviews/customer-3.jpg     55w,
            ./images/reviews/customer-3@2x.jpg 110w
          "
          alt="customer-3"
          class="reviews__img--customer"
          sizes="(min-width: 480px) 55px, 100vw"
          src="./images/reviews/customer-3.jpg"
        />
        <div class="reviews__box">
          <p class="reviews__text">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </p>
        </div>
        <p class="review__text--owner">Diana, Chicago</p>
      </div>
    </div>
  </div>
</section>
