.advantages {

    padding-top: 57px;
  padding-bottom: 32px;
  @media screen and (min-width: 768px) {
    padding-top: 67px;
  padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 67px;
    padding-bottom: 80px; 
  }
}

.advantages-list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    
}



  @media screen and (min-width: 768px) {
    .advantages-list  {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 80px;
    
      
    }
    
    
  }

  @media screen and (min-width: 1200px) {
    .advantages-list  {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 133px;
      
    }
    
    
  }



.advantages-title {
    margin-bottom: 16px;
    @media screen and (min-width: 768px) {
        margin-bottom: 12px;
       }
}

.advantages-text {
  margin-bottom: 28px;
}

.advantages-item {
  text-align: center;

  @media screen and (min-width: 768px) {
    max-width: 152px;
    margin-right: 0;
    margin-left: 0;
    flex-basis: calc((100% - 160px) / 3);

    &:not(:last-child) {
      margin-bottom: 0px;
    }
   }

   @media screen and (min-width: 1200px) {
    max-width: 260px;
   }
  
}

.advantages-title {
  color: #FCFCFC;
 margin-bottom: 12px;

 &::before {
   content: '';
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50px;
   height: 50px;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 16px;
   border-radius: 50%;
   background-color: color;
   background-image: url(../images/cow.png);
   background-repeat: no-repeat;
   background-position: 50%, 50%;
 }
}

.title-two::before {
 content: '';
 background-image: url(../images/weight.png);
}

.title-three::before {
 content: '';
 background-image: url(../images/ice-crema.png);
}
