.advantages {
  padding-top: 57px;
  background-color: #84a178;
  @media screen and (min-width: 768px) {
    padding-top: 67px;
  padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 67px;
    padding-bottom: 80px; 
  }
}

.advantages-list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;

    @media screen and (min-width: 768px) {
      justify-content: center;
      
     }
  
     @media screen and (min-width: 1200px) {
  
     justify-content: center;
     }  
    
}

  @media screen and (min-width: 768px) {
    .advantages-list  {
      display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 80px;
    }    
  }

  @media screen and (min-width: 1200px) {
    .advantages-list  {
      display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
      gap: 133px;      
    }    
  }

.advantages-title {
    margin-bottom: 16px;
    @media screen and (min-width: 768px) {
        margin-bottom: 40px;
        font-size: 48px;
       }
@media screen and (min-width: 1200px) {
  font-size: 58px;
  margin-bottom: 40px;
}
       
}

.advantages-text {
  margin-bottom: 28px;
  font-size: 12px;
  @media screen and (min-width: 768px)
  {font-size: 14px;}
  @media screen and (min-width:1200px) {
    font-size: 16px;
  }
}

.advantages-item {
  text-align: center;
}

.advantages-title {
  color: #FCFCFC;

 &::before {
   content: '';
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50px;
   height: 50px;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 40px;
   border-radius: 50%;
   background-color: color;
   background-image: url(../images/cow.png);
   background-repeat: no-repeat;
   background-position: 50%, 50%;
 }
}

.title-two::before {
 content: '';
 background-image: url(../images/weight.png);
}

.title-three::before {
 content: '';
 background-image: url(../images/ice-crema.png);
}


