.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
}
.contacts-container{
    display: flex;
    justify-content: space-between;
    // max-width: 1200px;
    justify-content: center;
}
.contacts-block{
    padding: 40px;
    margin: 0 16px;
    border-radius: 24px;
    max-width: 368px;
    height: 542px;
    width: 100%;
    background-color: white;
    color: black;
}   

.contacts-head{
    margin-bottom: 30px;
    padding: 4px 14px;
    background-color:#F8D24E;
    border-radius: 6px;
    display: inline;
    text-transform: uppercase;
}
.contacts-location{
    border-bottom:1px solid grey;
    padding: 40px 0;
}
.contacts-location a{
    color:#D6936D;
}
.contacts-days{
    border-bottom:1px solid grey;
    padding: 32px 0;
}
.contacts-hours{
    color:#ABABAB;
}
.contact-days-inner:first-of-type {
    margin-bottom: 10px;
}
.contacts-contacts{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}