// Mixins
@mixin transition(
  $property,
  $duration: 250ms,
  $timing: cubic-bezier(0.4, 0, 0.2, 1)
) {
  transition: $property $duration $timing;
}

@mixin centered-flex($type: flex, $ai: center, $jc: false) {
  display: $type;
  align-items: $ai;

  @if $jc {
    justify-content: $jc;
  }
}

@mixin media($size, $type: min) {
  @if $size ==mobile {
    $width: 480px;

    @if $type ==max {
      $width: $width - 1px;
    }

    @media screen and (#{$type}-width: $width) {
      @content;
    }
  } @else if $size ==tablet {
    $width: 768px;

    @if $type ==max {
      $width: $width - 1px;
    }

    @media screen and (#{$type}-width: $width) {
      @content;
    }
  } @else if $size ==desktop {
    $width: 1200px;

    @if $type ==max {
      $width: $width - 1px;
    }

    @media screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

// HIRO

.hero {
  padding-top: 50px;
}

.hero__title {
  margin-bottom: 32px;
  max-width: 247px;

  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 26px;
  line-height: calc(33px / 26px);
  text-transform: uppercase;

  &--big {
    font-size: 34px;
    line-height: calc(33px / 34px);
  }

  @include media(tablet) {
    margin-bottom: 24px;
  }

  @include media(desktop) {
    margin-bottom: 28px;
    max-width: 367px;

    font-size: 38px;
    line-height: calc(48px / 38px);
  }
}

.hero__btn-box {
  @include media(tablet) {
    margin-bottom: 39px;
  }

  @include media(tablet) {
    margin-bottom: 109px;
  }
}

.hero__btn {
  font-weight: 600;
    font-size: 12px;
    line-height: calc(15px / 12px);
  

  @include media(tablet) {
    margin-bottom: 109px;
  }

    &--right {
      color: #000000;
      border: 2px solid #F8D24E;
        border-radius: 8px;
    }
}


