// Mixins
@mixin transition(
  $property,
  $duration: 250ms,
  $timing: cubic-bezier(0.4, 0, 0.2, 1)
) {
  transition: $property $duration $timing;
}

@mixin centered-flex($type: flex, $ai: center, $jc: false) {
  display: $type;
  align-items: $ai;

  @if $jc {
    justify-content: $jc;
  }
}

@mixin media($size, $type: min) {
  @if $size ==mobile {
    $width: 480px;

    @if $type ==max {
      $width: $width - 1px;
    }

    @media screen and (#{$type}-width: $width) {
      @content;
    }
  } @else if $size ==tablet {
    $width: 768px;

    @if $type ==max {
      $width: $width - 1px;
    }

    @media screen and (#{$type}-width: $width) {
      @content;
    }
  } @else if $size ==desktop {
    $width: 1200px;

    @if $type ==max {
      $width: $width - 1px;
    }

    @media screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

// HIRO

.hero {
  padding-top: 50px;
  padding-bottom: 237px;

  @include media(tablet) {
    padding-top: 14px;
    padding-bottom: 24px;
  }

  @include media(desktop) {
    padding-top: 45px;
    padding-bottom: 103px;
  }
}

.hero__cotainer {
  position: relative;
}

.hero__title {
  margin-bottom: 32px;
  max-width: 247px;

  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 26px;
  line-height: calc(33px / 26px);
  text-transform: uppercase;

  &--big {
    font-size: 34px;
    line-height: calc(33px / 34px);
  }

  @include media(tablet) {
    margin-bottom: 24px;
  }

  @include media(desktop) {
    margin-bottom: 28px;
    max-width: 367px;

    font-size: 38px;
    line-height: calc(48px / 38px);
  }
}

.hero__btn-box {
  @include media(tablet) {
    margin-bottom: 39px;
  }

  @include media(desktop) {
    margin-bottom: 109px;
  }
}

.hero__btn {
  display: inline-flex;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15px / 12px);

  @include media(desktop) {
    font-size: 14px;
    line-height: calc(18px / 14px);
  }

  &--left {
    padding: 11px 26px;

    color: #000000;
    border: 2px solid #f8d24e;
    border-radius: 8px;

    @include media(desktop) {
      padding: 12px 34px;
    }
  }

  &--right {
    padding: 11px 12px;
    color: #f8d24e;
    text-decoration: underline;

    @include media(desktop) {
      padding: 12px 34px;
    }
  }
}

.hero__text {
  @include media(tablet, max) {
    display: none;
  }

  @include media(tablet) {
    margin-left: 184px;
    width: 139px;
    font-size: 12px;
    line-height: calc(17px / 12px);
    letter-spacing: 0.01em;
  }

  @include media(desktop) {
    margin-left: 241px;
    width: 200px;
    font-size: 14px;
    line-height: calc(20px / 14px);
    letter-spacing: 0em;
  }
}

.hero__own-list {
  position: absolute;
  right: 32px;
  top: 28px;
  
  text-align: end;

  @include media(tablet, max) {
    display: none;
  }

  @include media(tablet) {
    font-size: 8px;
    line-height: calc(10px / 8px);
  }

  @include media(desktop) {
    right: 16px;
      top: 53px;

    font-size: 14px;
    line-height: calc(17px / 14px);
  }
}

.hero__own-item {
  @include media(tablet) {
    margin-bottom: 20px;
  }

  @include media(desktop) {
    margin-bottom: 16px;
  }
}

.hero__own-number {
  margin-bottom: 4px;
  
  display: block;
  color: #131313;

  @include media(tablet) {
    font-weight: 900;
      font-size: 28px;
      line-height: calc(34px / 28px);
      
  }

  @include media(desktop) {
    font-size: 46px;
      line-height: calc(56px / 46px);
  }
}
